body {
  background-image: url("http://sonyphotog.com/photos/globalmedicalco/3/12866.jpg");
    background-blend-mode: multiply;
    background-color: lightgrey;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }

  .jumbotron h1, em {
    opacity: 0.80;
  }

  .jumbotron {
    background: rgba(61, 58, 57, 0.75);
    text-align: center;
  }

  .btn {
    margin-top: 5px;
    background: rgba(61, 58, 57, 0.75);
  }

  #space {
    margin-top: 50px;
  }

  label, input {
      display: inline-block;
      vertical-align: baseline;
    }

  input {
    margin-bottom: 5px;
  }

  hr {
    border-color: white;
    opacity: 0.80;
  }
